<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>project_list</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>

<div id="app">
    <v-app>
        <v-navigation-drawer app></v-navigation-drawer>
        <v-toolbar color="blue lighten-1 white--text">
            <v-toolbar-title>KanbanApp</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items class="hidden-sm-and-down">
                <v-btn class="white--text" flat>About</v-btn>
                <v-btn class="white--text" flat>HowTo</v-btn>
                <v-btn class="white--text" flat>Links</v-btn>
            </v-toolbar-items>
        </v-toolbar>

        <v-content>
            {% block content%}
                <!-- 自由に書き換えられる場所 -->
            {% endblock %}
        </v-content>

        <v-footer color="blue lighten-1 white--text">
            <v-spacer></v-spacer>
            Design with Vuetify.
        </v-footer>
    </v-app>

</div>
<!-- 終わり -->

<!-- Vuew.js, axios -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{% block vuejs %}
{% endblock %}

</body>
</html>