
{% load staticfiles %}
<!DOCTYPE html>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>project</title>
    <link rel="stylesheet" href="{% static 'board/project.css' %}" />
</head>
<body>
{% if create_curtain_form.errors %}
    <p></p>
{% endif %}

<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">幕の登録</h4>
            </div>
            <div class="card-body">
                <form method="post" >
                    {% csrf_token %}
                    {% bootstrap_form create_curtain_form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary btn-block">幕の登録</button>
                    {% endbuttons %}
                </form>
            </div>
        <div class="card-footer text-muted text-center">
            <p><a href="{% url 'board:project_board' project_id %}">プロジェクトボードへ戻る</a></p>
        </div>
        </div>
    </div>

</div>



</body>
</html>