
{% load staticfiles %}
<!DOCTYPE html>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>project</title>
    <link rel="stylesheet" href="{% static 'board/project.css' %}" />
</head>
<body>
{% if edit_curtain_form.errors %}
    <p></p>
{% endif %}

<form method="post" >
    {% csrf_token %}
    {{ edit_curtain_form }}
    <button type="submit" class="button">
        幕の編集
    </button>
</form>

<p><a href="{% url 'board:delete_curtain' project_id=project_id curtain_id=curtain_id%}">幕の削除</a></p>
<p><a href="{% url 'board:project_board' project_id %}">戻る</a></p>

</body>
</html>