{% extends 'board/base.html' %}

{% block content %}

<div class="card-board-area">
    <v-container class="curtain-container">

        <v-layout row>
            <v-flex>
                <v-card class="">
                    <v-layout justify-center row>
                        {% for curtain in project.curtain_list %}
                            <v-flex xs4 ms3 md2 grow>
                                <v-card class="blue lighten-4">
                                    <v-card-title class="font-weight-bold">{{ curtain.curtain_name }}</v-card-title>
                                    <v-btn fab dark small color="indigo" href="{% url 'board:edit_curtain' project_id=project.project_id curtain_id=curtain.curtain_id %}">
                                        <v-icon>edit</v-icon>
                                    </v-btn>
                                        {% for card in curtain.card_list %}

                                            <v-layout justify-center column>
                                                <v-flex>
                                                    <v-card class="blue lighten-4">
                                                        <v-card-title class="font-weight-bold mb-0">{{ card.card_name }}</v-card-title>
                                                        <v-btn fab dark small color="indigo" href="{% url 'board:edit_card' project_id=project.project_id curtain_id=curtain.curtain_id card_id=card.card_id %}">
                                                            <v-icon>edit</v-icon>
                                                        </v-btn>
                                                    </v-card>
                                                </v-flex>
                                            </v-layout>
                                        {% endfor %}
                                    <form @submit.prevent="createCard('{{ curtain.curtain_id }}')">
                                        <v-text-field outline v-model="form.card.name" label="name"></v-text-field>
                                        <v-text-field outline v-model="form.card.detail" label="detail"></v-text-field>
                                        <v-btn fab dark small color="indigo" class="ml-0" type="submit">
                                            <!-- <v-btn fab dark small color="indigo" class="ml-0" href="{@ url 'board:create_card' project_id=project.project_id curtain_id=curtain.curtain_id %}"> -->
                                            <v-icon>add</v-icon>
                                        </v-btn>
                                    </form>
                                </v-card>
                            </v-flex>
                        {% endfor %}
                    </v-layout>

                    <v-layout justify-center row>
                        <v-flex xs4 ms4 md4>

                            <form @submit.prevent="createCurtain('{{ project.project_id }}')">
                                <v-text-field outline v-model="form.curtain.name" label="list_name"></v-text-field>
                                <v-btn fab dark small color="indigo" type="submit">
                                    <v-icon>add</v-icon>
                                </v-btn>
                            </form>
                        </v-flex>
                    </v-layout>

                </v-card>
            </v-flex>
        </v-layout>

    </v-container>
</div>


{% endblock %}

{% block vuejs %}

<script>

    // CSRFトークンの送信設定
    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = 'X-CSRFToken'

    // APIクライアント
    const api = axios.create({
        baseURL: '/api/v1/',
        timeout: 5000,
        headers: {
            'Content-Type': 'application/json',
            'X-Requested-With': 'XMLHttpRequest'
        }
    })

    // Mustache構文のバッティングを回避
    Vue.options.delimiters = ['#{', '}']

    // Devtoolの導入
    Vue.config.devtools = true

    // Vueインスタンスの生成
    const app = new Vue({
        el: '#app',
        data: {
            form: {
                project: {
                    project_name: '',
                },
                curtain: {
                    name: '',
                    project_id: ''
                },
                card: {
                    name: '',
                    detail: '',
                    curtain_id: ''
                }
            },
            message: {
                info: '',
                warnings: [],
                error: ''
            }
        },
        computed: {
            isCreated: function () {
                return this.form.curtain.id !== undefined
            }
        },
        methods: {
            // カードの新規作成
            createCard: function(curtain_id){
                console.log('this.form.card.curtain_idの型:', typeof this.form.card.curtain_id)
                console.log('this.form.card.curtain_id:', this.form.card.curtain_id)

                console.log('引数curtain_idの型:', typeof curtain_id)
                console.log('引数curtain_id:', curtain_id)

                console.log('this.form.card.name:', this.form.card.name)
                api({
                    method: 'post',
                    url: 'cards/',
                    data: {
                        'id': this.form.card.id,
                        'card_name': this.form.card.name,
                        'card_detail': this.form.card.detail,
                        'curtain': curtain_id
                    }
                })
                    .then(response => {
                            console.log('動作確認then')
                            this.message.info = this.isCreated ? '更新しました。' : '登録しました。'
                            this.form.card = response.data
                    })
            },
            updateCard: function () {
                // 多分ここにvueコンポーネント的な処理
                api({
                    method: 'put',
                    url: '',
                    data: {
                        'id': this.form.card.id,
                        'card_name': this.form.card.name,
                        'curtain': this.form.card.curtain_id
                    }
                })

            },
            deleteCard: function () {
                api({
                    method: 'delete',
                    url: '',
                    data: {
                        'id': this.form.card.id,
                        'card_name': this.form.card.name,
                        'curtain': this.form.card.curtain_id
                    }
                })
            },

            createCurtain: function(project_id){
                // console.log('vueのイベントハンドラ？から渡った変数：', p_name)
                // console.log('this.form.curtain.project_idの型:', typeof this.form.curtain.project_id)
                // console.log('this.form.curtain.project_id:', this.form.curtain.project_id)

                // console.log('引数p_idの型:', typeof p_id)
                // console.log('引数p_id:', p_id)

                api({
                    method: 'post',
                    url: 'curtains/',
                    data: {
                        'id': this.form.curtain.id,
                        'curtain_name': this.form.curtain.name,
                        'project': project_id
                    }
                })
                    .then(response => {
                            console.log('動作確認then')
                            this.message.info = this.isCreated ? '更新しました。' : '登録しました。'
                            this.form.project = response.data
                    })
            },
            updateCurtain: function () {
                // 多分ここにvueコンポーネント的な処理
                api({
                    method: 'put',
                    url: '',
                    data: {
                        'id': this.form.curtain.id,
                        'curtain_name': this.form.curtain.name,
                        'project': this.form.curtain.project_id
                    }
                })

            },
            deleteCurtain: function () {
                api({
                    method: 'delete',
                    url: '',
                    data: {
                        'id': this.form.curtain.id,
                        'curtain_name': this.form.curtain.name,
                        'project': this.form.curtain.project_id
                    }
                })
            },
        }
    })

</script>

{% endblock %}