<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>project_list</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>

<div id="app">
    <v-app>
        <v-navigation-drawer app></v-navigation-drawer>
        <v-toolbar color="blue lighten-1 white--text">
            <v-toolbar-title>KanbanApp</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items class="hidden-sm-and-down">
                <v-btn class="white--text" flat>About</v-btn>
                <v-btn class="white--text" flat>HowTo</v-btn>
                <v-btn class="white--text" flat>Links</v-btn>
            </v-toolbar-items>
        </v-toolbar>

        <v-content>
            <v-container>
                <v-layout justify-center column>
                    <v-flex xs12 md12>
                        <v-card class="mt-1 mx-1">
                            <v-card-title>
                                プロジェクト一覧
                            </v-card-title>

                            <v-layout justify-center column>
                                {% for project in projects %}
                                    <v-flex xs11 ms11 md11>
                                        <v-card>
                                            <v-card-title class="black--text">
                                                <a href="{% url 'board:project_board' project.id %}">{{ project.project_name }}</a>
                                            </v-card-title>
                                        </v-card>
                                    </v-flex>
                                {% endfor %}
                            </v-layout>

                        </v-card>

                        <v-card class="mt-1 mx-1 pt-3">

                            <div id="message">
                                <p v-show="message.error">
                                    #{ message.error }
                                </p>
                                <div v-show="message.warnings.length">
                                    <p v-for="warning in message.warnings">
                                        #{ warning }
                                    </p>
                                </div>
                                <p v-show="message.info">
                                    #{ message.info }
                                </p>
                            </div>

                            <div id="main-page">
                                <form @submit.prevent="submitSave">
                                    <v-layout justify-center>
                                        <v-flex xs9 sm9 md9>
                                            <v-text-field v-model="form.project.project_name" outline label="title"></v-text-field>
                                            <v-btn type="submit" variant="primary" block>#{ isCreated ? '更新' : '登録'}</v-btn>
                                        </v-flex>
                                    </v-layout>
                                </form>
                            </div>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>


        <!-- メインエリア -->


        <!-- デバッグ
        <div id="debug">
            <div>
                <pre>#{$data}</pre> <!-- $dataはVueプロパティ
            </div>
        </div> -->
        <v-footer color="blue lighten-1 white--text">
            <v-spacer></v-spacer>
            Design with Vuetify.
        </v-footer>
    </v-app>

</div>
<!-- 終わり -->


<!-- Vuew.js, axios -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    // CSRFトークンの送信設定
    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = 'X-CSRFToken'

    // APIクライアント
    const api = axios.create({
        baseURL: 'api/v1/',
        timeout: 5000,
        headers: {
            'Content-Type': 'application/json',
            'X-Requested-With': 'XMLHttpRequest'
        }
    })

    // Mustache構文のバッティングを回避
    Vue.options.delimiters = ['#{', '}']

    // Vueインスタンスの生成
    const app = new Vue({
        el: '#app',
        data: {
            form: {
                project: {
                    project_name: '',
                }
            },
            message: {
                info: '',
                warnings: [],
                error: ''
            }
        },
        computed: {
            isCreated: function(){
                return this.form.project.id !== undefined
            }
        },
        methods: {
            // 登録・更新ボタンの押下時に呼び出されるメソッド
            submitSave: function(){
                this.clearMessages()
                console.log('idCreated: ', this.isCreated)
                api({
                    // 登録済みかどうかでHTTPメソッドとエンドポイントを切り替える
                    method: this.isCreated ? 'put' : 'post',
                    url: this.isCreated ? '/projects/' + this.form.project.id + '/' : '/projects/',
                    data: {
                        'id': this.form.project.id,
                        'project_name': this.form.project.project_name,
                    }
                })
                    .then(response => {
                        console.log('動作確認then')
                        this.message.info = this.isCreated ? '更新しました。' : '登録しました。'
                        this.form.project = response.data
                    })
                    .catch(error => {
                        console.log('動作確認catch')

                        const status = error.response ? error.response.status : 500
                        if (status === 400) {
                            // バリデーションNG
                            this.message.warnings = [].concat.apply(
                                [], Object.values(error.response.data))
                        } else if (status === 401) {
                            this.message.error = '認証エラー'
                        } else if (status === 403) {
                            this.message.error = '権限エラー'
                        } else {
                            this.message.error = '想定外のエラー'
                        }
                    })
            },
            // メッセージをクリア
            clearMessages: function () {
                this.message.error = ''
                this.message.warnings = []
                this.message.info = ''
            }
        }
    })
</script>

</body>
</html>