{% extends 'board/base.html' %}

{% block content %}
<v-container>
    <v-layout>
        <v-flex>
            <v-card>
                <v-card-title>うんこ</v-card-title>
                <v-card-text>めっちゃ臭い</v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
</v-container>


<div class="card-board-area">
    <v-cantainer class="curtain-container">

        <v-layout row>
            <v-flex>
                <v-card class="">
                    <v-layout justify-center row>
                        {% for curtain in project.curtain_list %}
                            <v-flex xs4 ms3 md2>
                                <v-card class="blue lighten-4">
                                    <v-card-title class="font-weight-bold">{{ curtain.curtain_name }}</v-card-title>
                                    <v-btn fab dark small color="indigo" href="{% url 'board:edit_curtain' project_id=project.project_id curtain_id=curtain.curtain_id %}">
                                        <v-icon>edit</v-icon>
                                    </v-btn>
                                        {% for card in curtain.card_list %}

                                            <v-layout justify-center column>
                                                <v-flex>
                                                    <v-card class="blue lighten-4">
                                                        <v-card-title class="font-weight-bold mb-0">{{ card.card_name }}</v-card-title>
                                                        <v-btn fab dark small color="indigo" href="{% url 'board:edit_card' project_id=project.project_id curtain_id=curtain.curtain_id card_id=card.card_id %}">
                                                            <v-icon>edit</v-icon>
                                                        </v-btn>
                                                    </v-card>
                                                </v-flex>
                                            </v-layout>
                                        {% endfor %}
                                    <v-btn fab dark small color="indigo" class="ml-0" href="{% url 'board:create_card' project_id=project.project_id curtain_id=curtain.curtain_id %}">
                                        <v-icon>add</v-icon>
                                    </v-btn>
                                </v-card>
                            </v-flex>
                        {% endfor %}
                    </v-layout>


                    <v-layout justify-center row>
                        <v-flex xs4 ms4 md4>
                            <v-btn fab dark small color="indigo" href="{% url 'board:create_curtain' project.project_id %}">
                                <v-icon>add</v-icon>
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </v-card>
            </v-flex>
        </v-layout>

    </v-cantainer>
</div>


{% endblock %}

{% block vuejs %}

<script>

    // CSRFトークンの送信設定
    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = 'X-CSRFToken'

    // APIクライアント
    const api = axios.create({
        baseURL: 'api/v1/',
        timeout: 5000,
        headers: {
            'Content-Type': 'application/json',
            'X-Requested-With': 'XMLHttpRequest'
        }
    })

    // Mustache構文のバッティングを回避
    Vue.options.delimiters = ['#{', '}']

    // Vueインスタンスの生成
    const app = new Vue({
        el: '#app',
        data: {
            form: {
                project: {
                    project_name: '',
                }
            },
            message: {
                info: '',
                warnings: [],
                error: ''
            }
        },
        computed: {
            isCreated: function () {
                return this.form.project.id !== undefined
            }
        },
    })

</script>

{% endblock %}